/*
    Azul: #264653
    Verde: #2A9D8F
    Amarillo: #E9C46A
    Naranja: #F4A261
    Rojo: #E76F51
*/

/*
    Gradients
    background: #0B486B;
    background: -webkit-linear-gradient(to right, #F56217, #0B486B);
    background: linear-gradient(to right, #F56217, #0B486B); 
*/
html {
    font-family: 'Nunito', sans-serif;
}
a {
    text-decoration: none;
    color: #E76F51;
}

a:hover {
    opacity: 0.8;
}

a:active {
    background-color: #E76F51;
    color: white;
}

.title {
    text-transform: uppercase;
    text-align: center;
}

.container {
    background: #264653;
    background: -webkit-linear-gradient(to right, #2A9D8F, #264653);
    background: linear-gradient(to right, #2A9D8F, #264653); 
    height: 100vh;
    display: flex;
    align-items: center;/* default verticalmente */
    justify-content: center;/* default horizontalmente */
}

.content {
    max-width: 960px;
    width: 100%;
    height: 80vh;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 4px;
    position: relative;
    padding: 1.8em;
    overflow: scroll;
    /* overflow-x: hidden; */
}

.paragraph {
    line-height: 1.8em;
    font-weight: 400;
}

.table {
    width: 100%;
    border-spacing: 0;
}

.table td, .table th {
    padding: 1em;
    text-align: left;
}

.table tbody tr:nth-child(even) {
    background-color: #E9C46A;
}

.fa-star {
    color: #2A9D8F;
}

.title-item {
    /* border-bottom-style: solid;
    border-width: 2px;
    border-color: #E9C46A; */
    font-size: 2em;
    border-bottom: solid 2px #E9C46A;
    padding-bottom: 1em;
}

.address {
    display: inline-block;
    font-weight: bold;
    color: #E9C46A;
    font-size: 1.2em;
    margin-top: 1em;
}

.main-image {
    float: left;
    margin-right: 1em;
    height: 250px;
}

.position {
    background-color: #E9C46A;
    padding: 0.7em;
    border-radius: 4px;
    margin-right: 0.5em;
}

.actions {
    position: absolute;
    top: 1em;
    right: 1em;
}
.close {
    /*display: inline-block;*/
    height: 40px;
    width: 40px;
    background-color: #E9C46A;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 50%;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;   
}

@media (max-width: 600px){
    .container {
        padding: 1em;
    }

    td {
        display: block;
        width: 100%;
    }
    thead {
        display: none;
    }

    td:nth-of-type(1) {
        font-size: 1.5em;
        font-weight: bold;
    }
}
@media (min-height:550px){
    .content {
        height: 500px;
    }
}
